html {
  font-family: 'Fira Sans', sans-serif;
  font-family: 'Oswald', sans-serif; 
    /*margin: 1em 20%;*/
    background-color: #fafafa;
  }
  header {
    max-width: 70%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: 1px solid #e3e3e8;
  }
  .center {
    max-width: 70%;
    width: 800px;
    padding: 2%;
    margin: 100px auto;
    text-align: center;
  }
  .logo {
    max-width: 70%;
  }
  #logo {
    float: left;
    font-size: 3em;
    margin: 0;
    padding: .4em;
    text-decoration: none;
    color: #333;
    border-right: 1px solid #e3e3e8;
    transition: .5s all;
    max-width: 70%;
    align-items: center;
  }
  #logo:hover {
    color: #fafafa;
    background-color: #008607;
  }
  nav {
    float: left;
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 2.2em 2em;
  }
  nav ul li {
    display: inline;
    padding: 0 .4em;
  }
  nav ul li a {
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.6em;
    padding-bottom: 1.3em;
    transition: .5s color;
  }
  nav ul li a:hover {
    border-bottom: 3px solid #333;
  }
  #current {
    color: #008607;
    border-bottom: 3px solid #333;
  }

body {
height: 100%;
overflow: hidden;
padding-top: auto;
font-size: larger;
text-align: center;
max-width: 70%;
margin: 200px auto 0px auto;
}


@media only screen and (max-width: 600px) {
	body {
		font-size: 1.5em;
	}
	nav {
		position: static;
		width: 100px;
	}
}